@model ChangesDetector.model.PageChanges
@{int i = 1; }
<div class="row">
    <h4>Znalezione zmiany na stronie</h4>
</div>
<div class="row">
    <div id="col-lg-12" style="margin-right:auto; margin-left:auto">
        @if (Model != null && Model.Changes.Count() > 0)
        {
            <div class="row">
                <table class="table table-hover">
                    @foreach (KeyValuePair<string, DiffPlex.DiffBuilder.Model.SideBySideDiffModel> el in Model.Changes)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@el.Key</td>
                            <td>
                                <a class="btn-info btn" asp-controller="Website" asp-action="Diff" asp-route-websiteId="@Model.websiteId" asp-route-index="@i">Podgląd</a>
                            </td>
                        </tr>
                        i++;
                    }
                </table>
            </div>

        }
        else
        {
            <div class="row">
                <h4 style="color:#ff6a00">No changes data found</h4>
            </div>
        }

    </div>

</div>
